In [1]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [3]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [5]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [6]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backer_info_df = pd.read_csv('backer_info.csv')
backer_info_df.head(10)

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
5           {"backer_id": "lh382", "cf_id": 563, "name": "Lambert Huber", "email": "lhuber@live.com"}
6              {"backer_id": "em444", "cf_id": 563, "name": "Emmy Morin", "email": "emorin@live.com"}
7          {"backer_id": "at582", "cf_id": 1572, "name": "Armonda Trani", "email": "atrani@live.com"}
8           {"backer_id": "id772", "cf_id": 1911, "name": "Ilana Duke", "email": "iduke@outlook.com"}
9           {"backer_id": "lw275", "cf_id": 65, "name": "Leigha Wright", "email": "lwright@live.com"}

In [7]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
backer_info_df['backer_id'] = backer_info_df['backer_info'].str.extract(r'(\D{2}\d{3})')
backer_info_df

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506
...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535

In [8]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backer_info_df['cf_id'] = backer_info_df['backer_info'].str.extract(r'(\s\d{1,3})')
backer_info_df.head(10)

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382,563
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444,563
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582,157
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772,191
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275,65

In [9]:
# Extract the name from the backer_info column and add it as a new column called "name".
backer_info_df['name'] = backer_info_df['backer_info'].str.extract(r'([^name\s\W+][A-Za-z]+\s+[A-Za-z]+)')
backer_info_df.head(10)

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382,563,Lambert Huber
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444,563,Emmy Morin
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582,157,Armonda Trani
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772,191,Ilana Duke
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275,65,Leigha Wright

In [10]:
# Extract the email from the backer_info column and add it as a new column called "email".
backer_info_df['email'] = backer_info_df['backer_info'].str.extract(r'([^\W]\S+@\S+[^\W])')
backer_info_df.head(10)

,backer_info,backer_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382,563,Lambert Huber,lhuber@live.com
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444,563,Emmy Morin,emorin@live.com
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582,157,Armonda Trani,atrani@live.com
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772,191,Ilana Duke,iduke@outlook.com
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275,65,Leigha Wright,lwright@live.com

In [11]:
# Create a new DataFrame with the appropriate columns.
new_backer_info_df = backer_info_df[["backer_id","cf_id","name","email"]]
new_backer_info_df.head(10)

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com
5     lh382   563     Lambert Huber        lhuber@live.com
6     em444   563        Emmy Morin        emorin@live.com
7     at582   157     Armonda Trani        atrani@live.com
8     id772   191        Ilana Duke      iduke@outlook.com
9     lw275    65     Leigha Wright       lwright@live.com

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.
new_backer_info_df.to_csv("backers_data.csv", encoding = 'utf8')

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [13]:
# Check data types.
new_backer_info_df.dtypes

backer_id    object
cf_id        object
name         object
email        object
dtype: object

In [14]:
# Convert cf_campaign_cleaned['contact_id'] = pd.to_numeric(campaign_cleaned['contact_id'])
new_backer_info_df['cf_id'] = pd.to_numeric(new_backer_info_df['cf_id'])
new_backer_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

C:\Users\jocqu\anaconda3.0\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
# Split the "name" column into "first_name" and "last_name" columns.
new_backer_info_df[["first_name", "last_name"]] = new_backer_info_df["name"].str.split(' ', n = 1, expand = True)
new_backer_info_df.head(10)

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt
5,lh382,563,Lambert Huber,lhuber@live.com,Lambert,Huber
6,em444,563,Emmy Morin,emorin@live.com,Emmy,Morin
7,at582,157,Armonda Trani,atrani@live.com,Armonda,Trani
8,id772,191,Ilana Duke,iduke@outlook.com,Ilana,Duke
9,lw275,65,Leigha Wright,lwright@live.com,Leigha,Wright

In [16]:
#  Drop the name column
new_backer_info_df = new_backer_info_df.drop(['name'], axis = 1)

# Reorder the columns
new_backer_info_df = new_backer_info_df[["backer_id", "cf_id", "first_name", "last_name", "email"]]
new_backer_info_df.head(25)

   backer_id  cf_id first_name   last_name                   email
0      av166    968     Angelo     Vincent       avincent@live.com
1      ha127    563     Hubert      Arnold      harnold@yandex.com
2      lg794     65      Loris      Goulet      lgoulet@yandex.com
3      tb566    563    Teodora    Brunelli   tbrunelli@outlook.com
4      lh506    563      Lexie        Hunt          lhunt@live.com
5      lh382    563    Lambert       Huber         lhuber@live.com
6      em444    563       Emmy       Morin         emorin@live.com
7      at582    157    Armonda       Trani         atrani@live.com
8      id772    191      Ilana        Duke       iduke@outlook.com
9      lw275     65     Leigha      Wright        lwright@live.com
10     ub509     65        Uwe      Becker       ubecker@yahoo.com
11     ha915    157       Hawa        Audy         haudy@gmail.com
12     bb881    968        Bia      Bonura       bbonura@yahoo.com
13     mg332     65     Michel      Garner  mgarner@protonmail.com
14     kd700    157     Karole        Dunn         kdunn@yahoo.com
15     as695    563      Arndt   Schreiber    aschreiber@yahoo.com
16     iv513     65       Imen  Villeneuve   ivilleneuve@yahoo.com
17     ab842     65     Alcina   Bonadonna   abonadonna@yandex.com
18     re181    111    Raelene    Espinoza   respinoza@outlook.com
19     kn133     65       Kati        Nash    knash@protonmail.com
20     gj893     65      Georg       Jager        gjager@yahoo.com
21     vp915    948   Virgilio    Paolella     vpaolella@gmail.com
22     ja995    563    Jerrica       Avila   javila@protonmail.com
23     ga249    563     Gianni  Achterberg    gachterberg@live.com
24     td403     65    Timoteo        Dion         tdion@gmail.com

In [17]:
# Export the DataFrame as a CSV file using encoding='utf8'.
new_backer_info_df.to_csv("backers.csv", encoding = 'utf8', index = False)